{% extends "AppBundle::layout.html.twig" %}
{% block subheader_small_title %}Documents{% endblock %}
{% block subheader_big_title %}Create new{% endblock %}

{% block subheader_actions %}
    <a class="ce apn ame pull-right" href="{{ path("document_list") }}">
        <i class="fa fa-arrow-left"></i>
    </a>
{% endblock %}

{% block body %}

<form id="fileupload" action="{{ oneup_uploader_endpoint('document') }}" method="POST" enctype="multipart/form-data">

  <div class="form-group" id="progress-cont" style="display: none">
    <div id="progress" class="progress" style="height: 4px">
        <div id="progress-content" class="progress-bar progress-bar-success"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Document title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" placeholder="Document description" name="description"></textarea>
  </div>
  <div class="form-group">
      <span class="ce apn fileinput-button">
          <i class="fa fa-plus"></i>
          <span>Select document...</span>
          <input type="file" name="file">
      </span>
  </div>
  <button type="submit" id="submit_doc" class="btn btn-primary">Create Document</button>
</form>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$("#fileupload").on('submit', function (e) {
    e.preventDefault();
});
$(document).ready(function() {
    $('#fileupload').fileupload({
        dataType: 'json',
        autoUpload: false,
        add: function (e, data) {
          $("#fileupload").on('submit', function (e) {
              e.preventDefault();
              data.submit();
          });
        },
        done: function (e, data) {
          url = Routing.generate('document_show', {'id': data.result.document_id});
          location.href = url;
        },
        progressall: function (e, data) {
          $('#progress-cont').show();
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    });
});
</script>
{% endblock %}