{% extends "AppBundle::layout.html.twig" %}
{% block subheader_actions %}{% endblock %}

{% block body %}
<div class="fu apt">
  <div class="gq gg ala">
    <div class="apu ano">
      <div class="alz">
        <span class="anj">Companies</span>
        <h2 class="ani">
          {{ companiesNm }}
        </h2>
        <hr class="ans akt">
      </div>
    </div>
  </div>

  <div class="gq gg ala">
    <div class="apu anr">
      <div class="alz">
        <span class="anj">Contacts</span>
        <h2 class="ani">
          {{ personsNm }}
        </h2>
        <hr class="ans akt">
      </div>
    </div>
  </div>


</div>
{% endblock %}