{% extends "AppBundle::layout.html.twig" %}
{% block subheader_actions %}{% endblock %}

{% block subheader_small_title %}Search{% endblock %}
{% block subheader_big_title %}
{% if results.getNbResults() > 0 %}
	{{ results.getNbResults() }} results for "{{ query }}"
{% else %}
	No results for "{{ query }}"
{% endif %}
{% endblock %}

{% block body %}

{% for result in results %}
	{% if class(result) == 'Person' %}
		{% include 'AppBundle:Contact:contact_badge.html.twig' with {'contact': result } %}
	{% elseif class(result) == 'Company' %}
		{% include 'AppBundle:Company:company_badge.html.twig' with {'company': result } %}
	{% elseif class(result) == 'Document' %}
		{% include 'AppBundle:Document:document_badge.html.twig' with {'document': result } %}
	{% endif %}
{% endfor %}


    {% if results.haveToPaginate %}
    <div class="pagerfanta text-center">
    	{{ pagerfanta(results, 'twitter_bootstrap3') }}
	</div>
	{% endif %}

{% endblock %}