{% extends "AppBundle::layout.html.twig" %}

{% block subheader_small_title %}Company{% endblock %}
{% block subheader_big_title %}{{ company.name }}{% endblock %}

{% block subheader_actions %}
    <a class="ce apn ame pull-right" href="{{ path("company_list") }}">
        <i class="fa fa-arrow-left"></i>
        Back to list
    </a>
{% endblock %}

{% block body %}

<small>
	{{ company.description }}
</small>

<div class="page-header">
  <h3>Company Contacts <small>{{ company.persons|length }} in total</small></h3>
</div>
{% for person in company.persons %}
{% include 'AppBundle:Contact:contact_badge.html.twig' with {'contact': person } %}
{% endfor %}
{% endblock %}