/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.a, .b, .c, .d, .e, .f {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.g,
.h {
  border-bottom: 0;
}

a.black-link {
  color: #333 !important;
}

textarea.mention {
  border-radius: 0;
  border: 1px solid #ccc;
}

.mentions-input {
    position: relative;
}

.mentions-input .input {
    overflow: hidden;
    position: relative;
}

.mentions-input .highlighter {
    position: absolute;
    left: 0;
    right: 0;
    color: transparent;
    overflow: hidden;
    border-style: solid;
    border-color: transparent;
}

.mentions-input .highlighter-content {
    position: relative;
}

.mentions-input .highlighter-content strong {
  font-weight: inherit;
  background-color: #e5e5e5;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

[data-mention] {
  background-color: #e5e5e5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.mention-text {
  color: #1997c6;
  font-weight: normal;
}