<main class="page-content">
    <div class="main-col">
        <h1 class="inline">Login</h1>
        <div class="divider padded"></div>
        <form class="panel-body">
            <label class="input-label" for="email">E-Mail</label>
            <input type="text" class="form-control" id="email"
                val="email"
                ng-model="email"
                ng-disabled="processing"
                required>

            <label class="input-label" for="password">Password</label>
            <input id="password" type="password" class="form-control"
                val="password"
                ng-model="password"
                ng-disabled="processing"
                required>

            <button type="submit" class="btn btn-primary"
                ng-click="loginSubmit()">
                    <i class="fa fa-cog fa-spin" ng-show="processing"></i>
                    <span>Login</span>
            </button>
        </form>
    <div class="main-col">
</main>
