<!doctype html>
<html lang="en" ng-app="app">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" href="/assets/css/bundled.css"/>
</head>
<body>

  <div class="container-fluid">
  		<div ng-view>
      </div>
  </div>

  <script src="/assets/js/bundled.js"></script>
</body>
</html>
